%section.jumbotron.text-center
  .container
  - if current_user
    %h1 Thanks for logging in, #{current_user.email}
    .d-flex.justify-content-center
      .btn-toolbar{"aria-label" => "Toolbar with button groups", :role => "toolbar"}
        .btn-group.mr-2{"aria-label" => "First group", :role => "group"}
          %a= link_to "Add a new item", new_item_path, :class => 'btn btn-primary my-2'
          %a= link_to "View your items", user_path(current_user), :class => 'btn btn-secondary my-2'
  - else
    %h1 You logged out!
    %a= link_to "View all items", items_path, :class => 'btn btn-secondary my-2'
